---

# SPDX-FileCopyrightText: 2021 Robin Schneider <robin.schneider@geberit.com>
#
# SPDX-License-Identifier: CC0-1.0

# The options here correspond to the Formula defaults. They don’t have to be
# specified in the pillar unless you intend to change the Formula defaults.
unattended_upgrades:

  # Either "update" or "patch". See the zypper(8) manpage.
  mode: update

  # Wether patches that usually require interaction should be installed.
  interactive_patches: True

  # Auto agree to licenses?
  auto_agree_with_licenses: False

  # Should recommended packages be installed?
  include_recommends: False

  # Auto reboot after installing patches in case patches require a reboot.
  auto_reboot: False
