{# SPDX-FileCopyrightText: 2021 Robin Schneider <robin.schneider@geberit.com>
 #
 # SPDX-License-Identifier: AGPL-3.0-only
 #}
# {{ salt['pillar.get']('salt_managed', 'This file is managed by SaltStack, all changes will be lost.') }}

# Usually there is no need to diff backup files.
*- -diff
