{# SPDX-FileCopyrightText: 2021 Robin Schneider <robin.schneider@geberit.com>
 #
 # SPDX-License-Identifier: AGPL-3.0-only
 #}
# {{ salt_managed }}

# Usually there is no need to diff backup files.
*- -diff
